.channel {
    
    width:                  98vw;
    height:                 96vh;
    margin:                 8px;

    display:                grid;
    grid-template-columns:  80% 20%;
    grid-template-rows:     90% 10%;
    row-gap:                8px;
    column-gap:             8px;

}

app-lobby {

    grid-row: span 2;

}

.block {

    background-color: rgb(24, 24, 24);
    border-radius: 16px;

    padding: 10px;

}
