.input-field {

    height: 100%;

}

.input {

    resize:             none;
    overflow:           hidden;

    padding:            12px;

    width:              98%;
    height:             auto;

    font-size:          20px;

    color:              white;
    background-color:   transparent;
    border:             transparent;
    outline:            none;

}
